#fondo {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url(../../../assets/img/1.jpg);
    background-repeat: no-repeat;
    background-position: center-center;
    background-attachment: fixed;
    background-size: cover;
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    Font-family: Candara;

}

#logo {
    background-image: url(../../../assets/img/LogoBIGEO.png);
    background-size: 200px;
    background-position: center;
    object-position: top left;
    background-repeat: no-repeat;
    padding: 60px;
    background-origin: content-box;
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    Font-family: Candara;
}

@media screen and (min-width: 600px) {
    .auth-form-container {
        padding: 5rem;
        border: 4px solid rgb(255, 255, 255);
        border-radius: 20px;
        margin: 0.9rem;
        background-color: #DCD9D4;
        background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), 
        radial-gradient(at 88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), 
        radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
        background-blend-mode: normal, lighten, soft-light;
    }
}

label {
    Font-family: Candara;
    text-align: left;
    padding: 0.25rem 0;
}

input {
    Font-family: Candara;
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.button {
    margin-top: 20px;
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #009255;
}

.link-btn {
    margin-top: 30px;
    background: none;
    color: white;
    text-decoration: underline;
}


.mapboxgl-ctrl-attrib {
    display: none;
}