footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3d5d4b;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  grid-column: 1;
}

.logo-image {
  width: 200px;
  height: 100px;
}

.footer-contact {
  grid-column: 2;
  text-align: right;
}

.contact-info {
  margin: 0;
}

/* Styles for tablets (widths between 768px and 992px) */
@media screen and (max-width: 992px) and (min-width: 768px) {
  .logo-image {
    width: 150px; /* Adjust these sizes based on your needs */
    height: 75px;
  }

  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-contact {
    text-align: left;
  }
}

/* Styles for mobile phones (widths less than 768px) */
@media screen and (max-width: 768px) {
  .logo-image {
    width: 100px; /* Adjust these sizes based on your needs */
    height: 50px;
  }

  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-contact {
    text-align: left;
  }
}
