.mapboxgl-ctrl-attrib {
    display: none;
}

.map-container {
    width: 750px;
    height: 500px;
    position: relative;
}


/* Cambios a aplicar cuando la pantalla es menor a 600px */
@media screen and (max-width: 600px) {
    .mapbox-container {
        height: 200px;
    }
}

/* Cambios a aplicar cuando la pantalla es entre 600px y 1200px */
@media screen and (min-width: 600px) and (max-width: 1200px) {
    .mapbox-container {
        height: 400px;
    }
}

/* Cambios a aplicar cuando la pantalla es mayor a 1200px */
@media screen and (min-width: 1200px) {
    .mapbox-container {
        height: 600px;
    }
}