#fondo {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url(../../assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center-center;
    background-attachment: fixed;
    background-size: cover;
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    Font-family: Candara;

}

#logo {
    background-image: url(../../assets/img/LogoBIGEO.png);
    background-size: 235px;
    background-position: center;
    object-position: top left;
    background-repeat: no-repeat;
    padding: 60px;
    background-origin: content-box;
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    Font-family: Candara;
}

@media screen and (min-width: 600px) {
    .auth-form-container {
        padding: 5rem;
        border: 1px solid white;
        border-radius: 20px;
        margin: 0.9rem;
        background-image: linear-gradient(79deg, #009255, #58AB34 48%, #AB8248);
    }
}

label {
    Font-family: Candara;
    text-align: left;
    padding: 0.25rem 0;
}

input {
    Font-family: Candara;
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #009255;


}

.link-btn {
    background: none;
    color: white;
    text-decoration: underline;
}